<nav class="navbar navbar-expand-md navbar-dark fixed-top">

  <button class="navbar-toggler navbar-toggler-right hidden-lg-up" type="button" data-toggle="collapse"
          data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#">
    <span class="brand-first-part-bg">
      <img class="brand-first-part" src="./assets/images/wiremock-logo.png" height="37">
    </span>
    <img class="brand-second-part" src="./assets/images/wiremock-ui-logo.png" height="37">
  </a>

</nav>
