// Colors
$color-success: #8ccf3b;
$color-notice: #ead950;
$color-warning: #ff9a1f;
$color-danger: #ff5d4b;
$color-surprise: #a896ff;
$color-info: #46c1e6;
$color-boring: #828282;
$color-font-success: #fff;
$color-font-notice: #fff;
$color-font-warning: #fff;
$color-font-danger: #fff;
$color-font-surprise: #fff;
$color-font-info: #fff;
$color-bg: #fff;
$color-font: #555;
$color-sidebar-bg: #2e2f2b;
$color-sidebar-font: #e0e0e0;
$color-main-bg: #272822;
$color-main-font: #ddd;
$color-tag-font: #666;
$color-tag-success: #75ba24;
$color-tag-notice: #d8c84d;
$color-tag-warning: #ec8702;
$color-tag-danger: #ee5655;
$color-tag-surprise: #a590ff;
$color-tag-info: #22c1ee;

$hl: #828282;
$hl-xxs: rgba(130, 130, 130, .05);
$hl-xs: rgba(130, 130, 130, .1);
$hl-sm: rgba(130, 130, 130, .2);
$hl-md: rgba(130, 130, 130, .3);
$hl-lg: rgba(130, 130, 130, .5);
$hl-xl: rgba(130, 130, 130, .8);
$hl-sidebar: #999;

// Fonts
$font-size-base: .8rem;

// Navigation bar
$navbar-color: #FF9800;
$navbar-height: 69px;
